rect.bordered {
        stroke: #E6E6E6;
        stroke-width:1px;   
      }
rect.nobordered {
        stroke: #E6E6E6;
        stroke-width:0px;   
      }
rect.bordered_hover {
        stroke: #FF0000;
        stroke-width:2px;   
      }
